<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="images/icon.png" sizes="32x32" type="image/png">
  <link rel="icon" href="images/icon.png" sizes="16x16" type="image/png">
</head>

<body>